</div><!-- #content -->

    <footer id="colophon" class="site-footer" role="contentinfo">
        <div class="site-info">
            <a href="{{ function('esc_url', __('http://wordpress.org/', 'timberscores')) }}">{{ __('Proudly powered by %s', 'timberscores')|format('WordPress') }}</a>
            <span class="sep"> | </span>
            {{ __('Theme: %1$s by %2$s.', 'timberscores')|format('timberscores', '<a href="http://underscores.me/" rel="designer">Underscores.me</a>') }}
        </div><!-- .site-info -->
    </footer><!-- #colophon -->
</div><!-- #page -->

{{ wp_footer }}

</body>
</html>