<div id="primary" class="content-area">
    <main id="main" class="site-main" role="main">

    {% if posts %}
        {% for post in posts %}
            {# Include the Post-Format-specific template for the content.
            If you want to override this in a child theme, then include a file
            called content-___.php (where ___ is the Post Format name) and that will be used instead. #}

            {# TODO: should get_template_part be a context function exposed by timber? #}
            {{ timber_get_template_part('content', post.format, { 'post': post }) }}
        {% endfor %}
    {% else %}
        {{ timber_get_template_part('content', 'none') }}
    {% endif %}

    {{ function('timberscores_paging_nav') }}

    </main><!-- #main -->
</div><!-- #primary -->

{{ sidebar }}